// ==========
// = Header =
// ==========
#meetingsMainNavBar.navbar {
  margin-bottom: 0px;
  
  .navbar-inner {
    background: $red;
    border: none;
    @include box-shadow(none);

    .container {
      width: $gridRowWidth1200;
      
      @include phone-only {
        width: 100%;
      }
    }

    .brand {
      font-weight: bold;
      font-size: 16px;
      color: $white;
      text-transform: uppercase;
      text-shadow: none;
    }

    .brand-description,
    .navbar-district-info {
      line-height: 40px;
      font-size: 14px;
      color: #d49a9c;
    }

    .navbar-district-info {
      font-family: $serifFontFamily;
      color: $white;
      @include phone-only {
        font-size: 11px;
      }

      a {
        color: $white;
        &:hover {
          color: $white;
        }
      }
    }
  }
}
