<div class="content-wrap container">
  <div class="row">
    <div class="span12">
        <h1 class="welcome-cliche">If you hang around a barber shop long enough, sooner or later you're gonna get a haircut.</h1>
        <%= link_to 'Find Meetings', meetings_path, class: "btn btn-primary btn-large" %>
      </h1>
    </div>
  </div>
</div>

<div class="fill-whole-page-bg">
  <%= image_tag("1899_ok_barber_shop.jpg") %>
</div>
