<div class="meetings">  
  <header class="main-header">
	  <h1 class="pull-left">Suit Up and Show Up</h1>
    <div class="pull-right"><form ng-submit="setAddress()">
          <input type="text" ng-model="addressService.address" placeholder="Locations loaded via $http" typeahead="address for address in getLocation($viewValue) | filter:$viewValue" typeahead-loading="loadingLocations" class="form-control">
          <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
          <input type="submit" id="submit" value="Submit" />
        </form></div>
  </header>
  
  <div class="app-wrapper wrapper no-scroll">
    <div class="map-container">  
      <figure class="map">
        <gm-map gm-map-id="'map-canvas'" gm-bounds="bounds" gm-center="center" gm-zoom="zoom" gm-map-options="options.map">
          <gm-markers gm-objects="meetings"
                      gm-id="object.id"
                      gm-position="{lat: object.latitude, lng: object.longitude}"
                      gm-marker-options="getMeetingOpts(object)"
                      gm-on-click="selectMeeting(object, marker)">
          </gm-markers> 
        </gm-map>  
      </figure>  
    </div> 
    
    <section class="listings-panel">
      <div class="meeting-list">
        <ul>
          <li ng-repeat="meeting in meetings">
              <p ng-click="selectMeetingListing(meeting)">{{meeting.title}} {{meeting.latitude}}</p>
          </li>
        </ul> 
      </div>
    </section> 
    
    <section class="meeting-panel" ng-class="{show:meeting.selected}">
      <div class="meeting-details">
        <h5>{{ meeting.title }}</h5>
        <p>{{ meeting.address }}</p>
        <p>{{ meeting.week_days }}</p>
        <strong>{{meeting.latitude}}</strong>
      </div>
      <button type="button" class="close close-panel" ng-click="togglePane()">&times;</button> 
    </section>
  </div> 
  
</div>