// Place all the styles related to the Meetings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.meetings_controller {
  background: $white url(bg.gif) repeat left top;
  color: $s_gray;
  
  .meetings-header {
    //background: $black url(bg2.gif) repeat left top;
    color: $s_gray;
    text-transform: uppercase;
    padding: 20px 0px;
  }
  
  .meetings-listings {
    @include box-sizing(border-box);
    //background-color: $white;
    
    .meetings-search-container {
      //background-color: $white;
      
      padding: 40px 0px;
      
      .meetings-search-form {
        margin-bottom: 0px;
      }
    }
    
    table.meetings-listing {
      
      td, th {
        border: none;
        padding-left: 0px;
      }
      
      tr.meeting-listing {
        td {
          border-bottom: lighten($s_gray, 50%) 1px dashed;
          padding-bottom: 20px;
        }
      }
      
      .meetings-listing-header {
        //background-color: $grayDark;
        color: $red;
        font-size: 36px;
        text-transform: uppercase;
        font-weight: normal;
        line-height: 1em;
        padding-top: 20px;
        
      }
      .meeting-listing-time {
        text-align: right;
      }
      .meeting-listing-title {
        text-transform: uppercase;
        font-size: 24px;
        line-height: 1.1em;
        margin: 10px 0px;
        font-weight: normal;
      }
    }
  }

  
  #meeting-preview {
    color: $black;
    
    .meeting-preview-header {
      font-size: 18px;
      line-height: 1.1em;
      text-transform: uppercase;
      font-weight: normal;
    }
  }
  #meeting-preview.affix {
    top: 41px;
    
    @include desktop-only {
      width: 370px;
    }
  }

  #mySpinner {
    display: none;
  }

  .meetings-controls {
    //background-color: #F9F9F9;
  }
}