.meetings_controller {
  color: #e8e9ea;
  background-color: $grayLighter;
  
  .meetings-body {
    background-color: $white;
  }
  
  .meetings-listings-container {
    @include box-sizing(border-box);
    //padding: 0 20px;
    border-right: $grayLighter 1px solid;
    
    // =======
    // = Map =
    // =======
    .meetings-map-container {
      background: $white;
      padding: 10px;
    }
    .meetings-map-canvas {
      width: 100%;
      height: 536px;
      background-color: $grayLighter;
      
      img {
        max-width: none;
      }
    }
    
    // ==========
    // = Search =
    // ==========
    .meetings-search-container {
      background: $grayDark;
      padding: 58px 100px;
      @include clearfix();
      
      .meetings-search-form {
        width: 100%;
        
        
        .giant-input {
          width: 70%;
          background: $grayDarker;
          border: 1px solid $grayDarker;
          @include placeholder(#434242);
          color: $grayLight;
          font-size: 24px;
          line-height: 24px;
          padding: 40px 0px;
          padding-right: 2%;
          padding-left: 2%;
          @include box-shadow(none);
          
          &:focus {
            border: 1px solid $grayDarker;
            @include box-shadow(none);
            color: $grayLighter;
          }
        }

        .giant-search-btn {
          width: 22%;
          background: $red;
          border: 1px solid $red;
          @include box-shadow(none);
          text-shadow: none;
          color: #eed6d7;
          margin-left: -4px;
          font-size: 24px;
          line-height: 24px;
          padding: 38px 0px;
        }
      }
      
      
    }
    
    // ========
    // = TABS =
    // ========
    .nav-tabs {
      li {
        width: $gridRowWidth1200 / 7;
        text-align: center;
        font-size: 24px;
        text-transform: uppercase;
        
        a {
          color: #b6b5b5;
        }
      }
    }
    
    
           
    .meetings-listing-table {
      margin-bottom: 0px;
      
      td, th {
        border: none;
        padding-left: 0px;
      }
      
      tr.meeting-listing {
        color: $grayLight;
        td {
          border-bottom: lighten($s_gray, 50%) 1px dashed;
          padding-bottom: 20px;
        }
        
        td.meeting-listing-info {
          padding-left: 20px;
          width: 66%;
        }
      }
      
      .meetings-listing-header {
        //background-color: $grayDark;
        color: $grayLighter;
        background: $s_gray;
        padding-left: 20px;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: normal;
        line-height: 1em;
        padding-top: 8px;
        
      }
      .meeting-listing-time {
        text-align: right;
      }
      .meeting-listing-title {
        text-transform: uppercase;
        font-size: 16px;
        line-height: 1.1em;
        margin: 10px 0px;
        font-weight: normal;
      }
    }
  }

  
  #meeting-preview {
    color: $black;
    padding-top: 20px;
    
    @include desktop-only {
      width: 320px;
    }
    
    .meeting-preview-header {
      font-size: 18px;
      line-height: 1.1em;
      text-transform: uppercase;
      font-weight: normal;
      margin-top: 20px;
    }
  }
  #meeting-preview.affix {
    top: 0px;
    
    
  }

  #mySpinner {
    display: none;
  }

  .meetings-controls {
    //background-color: #F9F9F9;
  }
  
  .fill-whole-page-bg {
    img {
      //-webkit-filter: blur(3px);
      //-moz-filter: blur(3px);
      //-o-filter: blur(3px);
      //-ms-filter: blur(3px);
      //filter: blur(3px);
    }
  }
  

}