.meetings_controller {
  background-color: $grayLighter;
  @include phone-only {
    padding-left: 0px;
    padding-right: 0px;
  }
  
  .meetings-body {
    background-color: $white;
  }
  
  .meetings-listings-container {
    @include box-sizing(border-box);
    //padding: 0 20px;
    border-right: $grayLighter 1px solid;
    @include phone-only {
      border-right: none;
    }
    
    .meetings-map-and-listings {
      @include desktop-only {
        width: 1080px;
      }
      
      .alert {
        margin: 10px;
        
        button.close {
          top: 1px;
        }
      }
    }
    
    // =======
    // = Map =
    // =======
    .meetings-map-section {
      margin-left: 0px;
      width: 50%;
    }
    .meetings-map-container {
      background: $white;
    }
    .meetings-map-canvas {
      width: 100%;
      height: 536px;
      background-color: $grayLighter;
      
      img {
        max-width: none;
      }
    }
    
    // ==========
    // = Search =
    // ==========
    .meetings-search-container {
      background: $grayDark;
      padding: 18px 20px;
      @include clearfix();
      @include phone-only {
        padding: 15px 15px 20px 15px;
      }
      
      .meetings-search-query {
        display: inline-block;
        width: 60%;
        color: #6e6d6d;
        font-size: 30px;
        font-style: italic;
        font-family: $serifFontFamily;
        margin-top: 11px;
        @include phone-only {
          width: 100%;
          margin-top: 25px;
          font-size: 16px;
          text-align: center;
        }
      }
      
      .meetings-search-form {
        float: right;
        width: 39%;
        @include phone-only {
          width: 100%;          
        }
        
        
        .giant-input {
          width: 75%;
          height: 46px;
          background: $grayDarker;
          border: 1px solid $grayDarker;
          @include placeholder(#434242);
          color: $grayLight;
          font-size: 12px;
          line-height: 12px;
          padding: 12px 0px;
          padding-right: 2%;
          padding-left: 2%;
          margin-top: 0;
          @include box-sizing(border-box);
          @include box-shadow(none);
          @include phone-only {
            font-size: 12px;
            line-height: 12px;
            padding: 10px 0px;
            padding-right: 3%;
            padding-left: 3%;
          }

          
          &:focus {
            border: 1px solid $grayDarker;
            @include box-shadow(none);
            color: $grayLighter;
          }
        }

        .giant-search-btn {
          width: 25%;
          background: $grayDarker;
          border: 1px solid $grayDarker;
          border-left: 1px solid $grayDark;
          @include box-shadow(none);
          text-shadow: none;
          color: $gray;
          margin-left: -4px;
          margin-top: 0;
          font-size: 18px;
          line-height: 18px;
          padding: 13px 0px;
          @include box-sizing(border-box);
          @include phone-only {
            font-size: 12px;
            line-height: 16px;
            padding: 14px 0px;
          }
        }
      }
      
      
    }
    
    // ========
    // = TABS =
    // ========
    .nav-tabs {
      background: $grayLighter;
      border-bottom-color: #c5c6c6;
      margin-bottom: 0px;
      
      li:last-child a {
        border-right: none;
      }
    
      li {
        width: 14.25%;
        text-align: center;
        font-size: 12px;
        text-transform: uppercase;
        
        @include phone-only {
          font-size: 10px;;
        }
        
        &.active a {
          color: $grayDark;
          border-left: none; 
        }
        
        a {
          color: #b6b5b5;
          margin-right: 0px;
          border-right: 1px solid #c5c6c6; 
          padding-top: 12px;
          padding-bottom: 12px;
          @include border-radius(0px);
          
          @include phone-only {
            padding: 10px 0px;
          }
          
          
        }
      }
    }
    
    
           
    .meetings-listing-table {
      margin-bottom: 0px;
      
      tr {
        border-bottom: 1px solid #e6e7e8;
      }
      
      td, th {
        border: none;
        vertical-align: middle;
        color: $gray;
        @include phone-only {
          padding: 5px 4px 5px 10px;
        }
        
        h5, p {
          @include phone-only {
            margin: 0px;
          }
        }
      }      
    }
    
    .meeting-listing-time {
      width: 15%;
      
      p {
        font-size: 12px;
        line-height: 12px;
        text-transform: uppercase;
        margin: 5px 0 0 0;
        @include phone-only {
          font-size: 12px;
          line-height: 12px;
        }
      }
    }
    .meeting-listing-isclosed {
      width: 10%;
    }
    .meeting-listing-info {
      width: 75%;
      padding-left: 15px;
       
      .meeting-listing-title {
        font-size: 18px;
        line-height: 18px;
        text-transform: uppercase;
        font-weight: normal;
        margin-bottom: 0px;
        margin-top: 4px;
        @include phone-only {
          font-size: 14px;
          line-height: 14px;
        }
        
        a:hover {
          text-decoration: none;
        }
      }
      .meeting-listing-address-title {
        font-size: 12px;
        font-weight: normal;
        margin-top: 1px;
        margin-bottom: 0px;
        @include phone-only {
          font-size: 12px;
          line-height: 1.4em;
          margin-bottom: 3px;
        }
        
        .distance {
          color: $grayLight;
        }

      }
    }
  }

  // InfoBox Map MArker Popups
  .info-box-container {
    //position: relative;
    background: $white;

    &:after {
      bottom: 100%;
      border: solid transparent;
      content: "";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(255, 255, 255, 0);
      border-bottom-color: $blue;
      border-width: 10px;
      left: 50%;
      margin-left: -10px;
    }
    
  }

  .info-box-header {
    padding: 22px;
    background: $blue;
    color: $white;
      
    h5 {
      font-size: 18px;
      margin: 0;
    }
  }
  
  .info-box-body {
    position: relative;
    padding: 22px;
    color: $grayDark;
    font-size: 14px;
    font-weight: 400;
    
    h5 {
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 0px;
    }
    
    i {
      font-size: 12px;
      margin: 0;
      margin-top: -15px;
      margin-bottom: 8px;
      font-family: $serifFontFamily;
    }
    
    .info-box-tags {
      width: 75%;
      line-height: 1.2em;
      font-size: 12px;
      margin-top: 10px;
      
      span {
        font-weight: bold;
        font-size: 12px;
      }
    }
    
    .info-box-days { 
      width: 100%;
      span {
        font-size: 14px;
      }
    }
    
    .closed-icon {
      height: 24px;
      width: 20px;
      background: url('icon-closed-meeting.png') no-repeat left top;
      position: absolute;
      right: 30px;
      top: 70px;
    }
  }


  .meetings-controls {
    //background-color: #F9F9F9;
  }
  
  // ========
  // = SHOW =
  // ========
  
  &.show_action {
    
    .meetings-detail {
      background-color: #f4f4f4;
      font-size: 18px;
      @include phone-only {
        background-color: $white;
      }
      
      h1 {
        color: $red;
        font-size: 30px;
        margin-top: 0px;
        line-height: 1.1em;
      }
      
      h3 {
        margin-top: 0px;
      }
      
      
    }
    
    .meetings-detail-search {
      background: $grayDark;
    }
    
    .meetings-detail-back {
      color: #878686;
      text-shadow: none;
      font-size: 12px;
      text-decoration: underline;
    }
    
    .meetings-detail-main {
      background-color: $white;
      @include desktop-only {
       min-height: 750px; 
       border-right: 1px solid #d3d3d3;
      }
    }

    .meetings-detail-column {
      padding-top: 30px;
      @include desktop-only {
        margin-left: 19px;
        
        h3, ul {
          margin-right: 30px;
        }
      }
      
      @include phone-only {
        padding-left: 20px;
        padding-right: 20px;
      }
      

    }
    
    .meetings-detail-info {
      @include desktop-only {
        padding-left: 30px;        
      }
      
      h1, p {
       margin-bottom: 1em;
      }
      
      p {
        line-height: 1.4em;
      }
      
      .meetings-detail-directions-btn {
        margin-bottom: 2em;
        
      }
      
      .meetings-detail-tags {
        width: 40%;
        float: left;
        margin-bottom: 20px;
        
        &.days_of_week {
          @include desktop-only {
            border-right: 1px solid #d3d3d3;
          }
        }
        
        &.tags {
          @include desktop-only {
            border-left: 1px solid #d3d3d3;
            margin-left: -1px;
            
            b, strong {
              padding-left: 15%;
            }
          }
        }
        
        b {
          font-size: 14px;
        }
        strong {
          display: block;
          font-weight: normal;
          font-size: 12px;
          color: $gray;
        }
      }

    }
    
    .meetings-detail-time {
      font-size: 14px;
      float: left;
      width: 75%;
      
      b, span {
        display: block;
      }
    }
    
    .well {
      @include clearfix;
      padding: 10px 20px 10px 10px;
      @include box-shadow(none);
    }
    
    .meeting-listing-isclosed {
      float: left;
      width: 25%;
      text-align: right;
      
      img {
        margin-top: 6px;
      }
    }
    
    
    .meetings-detail-nearby {
      height: 100%;
      
      h3 {
        font-size: 18px;
        color: $gray;
        text-transform: uppercase;
        line-height: 1.4em;
      }
      
      .meetings-detail-nearby-listing {
        font-size: 14px;
        font-weight: 100;
        border-bottom: 1px solid #d3d3d3;
        margin-bottom: 3px;
        padding-bottom: 2px;
        color: $gray;
        
        .meeting-nearby-top-row {
          .meetings-detail-nearby-title {
            color: $blue;
            text-transform: none;
          }
          .meetings-start-time {
            font-size: 12px;
            display: block;
            float: right;
          }
          
          .meetings-closed-icon {
            margin-top: -7px;
            margin-left: 4px;
          }
          
        }
        .meeting-nearby-btm-row {
          font-size: 12px;
          .meetings-distance {
            font-size: 10px;
            color: #999;
          }
        }
      } 
      
           
    }
    
    .meetings-detail-map {
      @include desktop-only {
        padding-right: 20px;
      }
    }
  }

}