.welcome_controller {
  
  // We have to put all the content on top of teh image because 
  // the image gets yeanked out of teh DOM
  .content-wrap,
  footer {
    position: relative;
    z-index: 2;
  }
  
  .navbar {
    display: none; // hide the toolbar here only
  }
  
  .welcome {
    text-align: center;
    color: $white;
  }
  
  .welcome-logo {
    color: $white;
    line-height: 1em;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    margin-top: 15%;
    
    @include phone-only {
      font-size: 24px;
    }
  }
  
  .welcome-tagline {
    font-family: $serifFontFamily;
    font-size: 24px;
    font-style: italic;
  }
  
  .btn-welcome {
    margin-top: 5%;
    @include border-radius(10px);
    background: none;
    @include translucent-background($red, 0);
    border: 1px solid $white;
    @include transition(background-color 500ms linear);
    
    &:hover {
      @include translucent-background($red, 1);
    }
  }
  
  .welcome-admin-signin {
    margin-top: 2%;
  }
  
  .fill-whole-page-bg {
    background-color: $black;
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;

    img {
      position: absolute; 
      top: 0; 
      left: 0; 
      right: 0; 
      bottom: 0; 
      margin: auto; 
      min-width: 50%;
      min-height: 50%;
      @include opacity(50)
    }
  }
  
  footer {
    display: none;
  }
}



