.welcome_controller {
  
  .navbar {
    display: none; // hide the toolbar here only
  }
  
  .welcome {
    text-align: center;
    color: $white;
  }
  
  .welcome-logo {
    color: $white;
    line-height: 1em;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    margin-top: 15%;
    
    @include phone-only {
      font-size: 24px;
    }
  }
  
  .welcome-tagline {
    font-family: $serifFontFamily;
    font-size: 24px;
    font-style: italic;
  }
  
  .btn-welcome {
    margin-top: 5%;
    @include border-radius(10px);
    background: none;
    @include translucent-background($red, 0);
    border: 1px solid $white;
    @include transition(background-color 500ms linear);
    
    &:hover {
      @include translucent-background($red, 1);
    }
  }
  
  .welcome-admin-signin {
    margin-top: 2%;
  }
  
  footer {
    display: none;
  }
  
  // fade bg for rollover effect
  .fill-whole-page-bg {
    img {
      @include opacity(50)
    }
  }
}



